body{
    align-items: center;
    
}
.carousel-item{
    padding-bottom: 50px;
    

}
.cont{
    display: flex;
    
    
    
    
}
.card{
    padding: 5px;
    margin: 20px;
    

    


}
.P{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    border-bottom: 4px solid black;
    margin-top: 15px;
}